@page "/"
@using System.Text.Json
@using System.Text
@using DBChatPro.Models
@inject ISnackbar Snackbar
<PageTitle>Home</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Fixed="false">
   <MudGrid Class="my-2">
      @if (Connections.Count == 0)
      {
         <MudItem xs="6">
            <p class="ma-6">You haven't connected a database yet. Visit the <a href="/connect-db">database connection</a>
               page to setup a connection.</p>
         </MudItem>
      }
      else
      {
         // Main data query area
         <MudItem xs="12">
            <div style="float: right">
               <div style="display: flex; align-items: center;">
                  <MudCheckBox accesskey="s" @bind-Value="@showResultsOnly" Label="Show Results Only (Alt+S)"
                     Class="mx-2" />
                  <MudIconButton OnClick="@(() => ToggleDrawer(Anchor.End))" Icon="@Icons.Material.Filled.Menu"
                     Color="Color.Inherit" Edge="Edge.Start" />
               </div>
            </div>
            <MudDivider Class="mb-6"></MudDivider>
            @if (!showResultsOnly)
            {
               <MudGrid>
                  <MudItem xs="8">
                     <p>
                        Selected Database:
                        <MudMenu Label="@ActiveConnection?.Name" EndIcon="@Icons.Material.Filled.KeyboardArrowDown"
                           IconColor="Color.Secondary">
                           @foreach (var db in Connections.Where(x => x.Name != null))
                           {
                              @if (db.Name != null)
                              {
                                 <MudMenuItem @onclick="() => LoadDatabase(db.Name)">@db.Name</MudMenuItem>
                              }
                           }
                        </MudMenu>
                     </p>
                     <EditForm Class="mb-6" Model="FmModel" OnSubmit="() => OnSubmit()">
                        <div>
                           <MudTextField
                              Placeholder='Type a Question; for example how many addresses in the addresses table are for the London area?'
                              id='prompt' AutoFocus="true" AutoGrow="true" @bind-Value="FmModel.Prompt" T="string"
                              Label="Your prompt (Alt+q)" Variant="Variant.Text" Lines="5" accesskey="q" />
                        </div>
                        @if (Loading)
                        {
                           <p Class="my-6">@LoadingMessage
                              <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                           </p>
                        }
                        <div>
                           <MudButton Class="my-6" Variant="Variant.Filled" ButtonType="ButtonType.Submit"
                              Color="Color.Primary" accesskey='g'><u>G</u>enerate</MudButton>
                           <MudButton Class="my-6" Variant="Variant.Filled" ButtonType="ButtonType.Button" @onclick="Clear"
                              Color="Color.Primary" accesskey='c'><u>C</u>lear</MudButton>
                        </div>
                     </EditForm>
                     <MudTextField Class="mono-font" @bind-Value="@Query" Text="@Query" T="string"
                        Label="Edit generated query" Variant="Variant.Text" Lines="5" />
                     <MudButton accesskey="y" @onclick="CopyToClipboard" Class="my-6" Variant="Variant.Filled"
                        Color="Color.Primary">Cop<u>y</u></MudButton>
                     <MudButton accesskey="x" @onclick="ExecuteDatabaseQuery" Class="my-6" Variant="Variant.Filled"
                        Color="Color.Primary">E<u>x</u>ecute
                     </MudButton>

                     @if (!string.IsNullOrEmpty(Error))
                     {
                        <p Class="my-6"><b>Error:</b> @Error</p>
                     }
                  </MudItem>
                  <MudItem xs="4">
                  </MudItem>
               </MudGrid>
            }
            <MudTabs @ref="mudResultTabs" KeepPanelsAlive="true" Elevation="2" Rounded="true"
               ApplyEffectsToContainer="true" PanelClass="pa-6">
               <MudTabPanel Text="Results">
                  @if (RowData.Count > 0)
                  {
                     <MudTable SortLabel="Sort By" Items="@RowData.Skip(1)" Dense="@dense" Bordered="@bordered"
                        Striped="@striped">
                        <HeaderContent>
                           @if (RowData != null && RowData.First() != null)
                           {
                              @foreach (var item in RowData.First())
                              {
                                 <MudTh>@item</MudTh>
                              }
                           }
                        </HeaderContent>
                        <RowTemplate>
                           @foreach (var item in context)
                           {
                              <MudTd DataLabel="item">@item</MudTd>
                           }
                        </RowTemplate>
                        <PagerContent>
                           <MudTablePager />
                        </PagerContent>
                     </MudTable>
                     <div class="d-flex flex-wrap mt-4">
                        <MudSwitch @bind-Value="@dense" Color="Color.Secondary">Dense</MudSwitch>
                        <MudSwitch @bind-Value="@striped" Color="Color.Tertiary">Striped</MudSwitch>
                        <MudSwitch @bind-Value="@bordered" Color="Color.Warning">Bordered</MudSwitch>
                        <MudFab @onclick="SaveFavorite" Style="justify-content: flex-end" Color="Color.Secondary"
                           StartIcon="@Icons.Material.Filled.Favorite" Label="Favorite" />
                     </div>
                  }
                  else
                  {
                     <p>No data to show.</p>
                  }
               </MudTabPanel>
               <MudTabPanel Text="Insights">
                  @if (!string.IsNullOrEmpty(Summary))
                  {
                     <p Class="my-6">@Summary</p>
                  }
               </MudTabPanel>
            </MudTabs>
         </MudItem>

         // Right column tabs
         <MudItem xs="4">
            <MudDrawer Open="@open" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="1"
               Breakpoint="Breakpoint.SmAndUp" Width="25%" Variant="@DrawerVariant.Persistent">
               <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
                  PanelClass="pa-6">
                  <MudTabPanel Text="Schema">
                     @if (ActiveConnection?.Name != null)
                     {
                        <p class="ml-6 mb-6">Browse the tables and columns for <b>@ActiveConnection.Name</b></p>
                     }
                     <MudTextField accesskey="t" Label="Filter Tables (Alt+T)" Id="filterText" Name="filterText"
                        Placeholder="Filter on Blur" @bind-Value="@filterText" @onblur='@FilterTables' />
                     <MudTreeView T="string">
                        @if (ActiveConnection != null && ActiveConnection.SchemaStructured != null)
                        {
                           @foreach (var table in ActiveConnection.SchemaStructured)
                           {
                              @if (table != null && table.TableName != null && table.Columns != null)
                              {
                                 <MudTreeViewItem Value="@table.TableName">
                                    @foreach (var col in table.Columns)
                                    {
                                       <MudTreeViewItem Value="@col" />
                                    }
                                 </MudTreeViewItem>
                              }
                           }
                        }
                     </MudTreeView>
                  </MudTabPanel>
                  <MudTabPanel Text="History">
                     @if (History.Count > 0)
                     {
                        <p class="mb-6">Query history for <b>@ActiveConnection.Name</b></p>
                        <MudPaper>

                           @foreach (var item in History)
                           {
                              @if (item != null && item.Query != null && item.Name != null)
                              {
                                 <MudList Clickable="true">
                                    <MudListItem OnClick="() => LoadHistoryItem(item.Name)" Text="@item.Name" />
                                 </MudList>
                              }
                           }
                        </MudPaper>

                     }
                     else
                     {
                        <p class="mb-6">You haven't run any prompts yet.</p>
                     }
                  </MudTabPanel>
                  <MudTabPanel Text="Favorites">
                     @if (Favorites.Count > 0)
                     {
                        <p class="mb-6">Your saved queries for <b>@ActiveConnection.Name</b></p>
                        <MudPaper>

                           @foreach (var item in Favorites)
                           {
                              @if (item != null && item.Query != null && item.Name != null)
                              {
                                 <MudList Clickable="true">
                                    <MudListItem OnClick="() => LoadHistoryItem(item.Query)" Text="@item.Name" />
                                 </MudList>
                              }
                           }
                        </MudPaper>

                     }
                     else
                     {
                        <p class="mb-6">You haven't saved any favorites for <b>@ActiveConnection.Name</b> yet.</p>
                     }
                  </MudTabPanel>
               </MudTabs>
            </MudDrawer>
         </MudItem>
      }
   </MudGrid>
</MudContainer>
